* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    margin: unset;
    font-family: Roboto, sans-serif;
    background-color: #f3eded;
    color: rgb(64, 64, 64);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.head-inner-content {
    max-width: 130em;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #1773eb;
    text-align: left;
    display: block;   
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 99; 
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    color: #fff;   
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;    
}

.nav-icon-container img {
    width: 2em;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 1rem;
}

nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;    
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.menu-botton {
    display: none;
}

.paragrafo1 {
    font-size: 1.75em;
    color: #404040;
    margin-top: 1.5em;
    margin-left: 2em;
    display: flex;
    padding: 0;    
}

.paragrafo-modal {
    font-size: 1.75em;
    color: #404040;
    margin-top: 1.5em;
    margin-left: 2em;
    display: flex;
    padding: 0;    
}

.letra-modal{
    margin-right: 6%;
    text-decoration: underline;
    cursor: pointer;
}

.div-h1 {
    margin-right: 0;
    margin-bottom: 2em;
    padding: 0;
}

.img1 {
    display: center;
    unicode-bidi: isolate;
    position: relative;
    max-height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1; /* Altura fixa */
}

.flex-container {
    display: flex;
    align-items: center;   
   
}

.flex-container .img1,
.flex-container .teste {
    margin: 2em;
}

@media (max-width:800px) {
    .logo{
        font-size: 1.2rem;
    }

    .menu-button{
        display: block;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: #1773eb;
        width: 100%;
        top: 112px;
        display: none;
    }

    .show-menu nav{
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;
        
    }
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.letra-anuncio{
    color: #404040;   
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
    height: 20px;       
}

.letra-anuncio2{
    color: #404040;   
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
    height: 20px;       
    text-decoration: underline;
}

.letra-anuncio1{
    font-size: 0.75em;
    margin: 0.5em 0 0 0;
}

.letra-anuncio3{
    color: #404040;   
    font-size: 14px;
    font-weight: 400;
    margin-right: 4px;
    height: 20px;        
}

.button-comprar-agora{
    background-color: rgb(71, 162, 248);
    color: #fff;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0.5em 15px;
    width: 100%;
    display: grid;
    grid-column: unset;
    grid-template-areas: "start label end";
    /* grid-template-columns: 1fr 4fr 1fr; */
    -webkit-box-pack: center;
    place-content: center;
    text-decoration: none;
    height: 52px;
    min-width: 180px;
    font-size: 0.75em;
    margin: 1.5em 0 0 0;
}

.box1{
    box-sizing: border-box;
    cursor: inherit;
    border: 1px solid #404040;
    border-radius: 4px;
    padding: 16px;
    text-decoration: none;
    padding: 8px 16px;
    margin: 1.5em 0 0 0;
}

.price-container {
    display: flex;
    align-items: center; 
}

.price-container h2 {
    margin: 0; 
    padding-right: 5px; 
}

.price-container span {
    font-size: 1em; 
}

.side-by-side-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.side-by-side-container > div {
    margin: 10px; 
}

.letra-anuncio2, .letra-anuncio3 {
    margin: 0; 
    padding: 0; 
}

.pix-desconto{
    color: rgb(89, 192, 11);
}

.magalu-media{
    color:#1773eb;
    font-weight: bold;
}

.container{
    background-color: rgb(241, 233, 233);
    text-align: center;
    color: #fff;
    padding: 1em;
    position: fixed;
    z-index: 100; 
    width: 50%;
    overflow: auto;
}


